@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  color: aliceblue;
  margin: 0;
  background-position: top;
  background-image: url("https://media.cntraveler.com/photos/611fcba37d5f8669f278de94/16:9/w_1600,c_limit/Blue%20Note%20Jazz%20Club-%20Credit%20Nagamitsu%20Endo_DSCF3801.jpeg");
  background-size: cover;
  /* height: 100vh; */
}

.time {
  font-size: 150px;
  font-weight: bold;
  transition: all 1s;
}

.greeting {
  font-size: 50px;
}

.todo {
  font-size: 30px;
}

.author {
  font-size: 25px;
  font-style: inherit;
  transition: all 1s;
}

.main {
  width: 100vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  width: 100vw;
  height: 20vh;
  transition: all 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .time {
    font-size: 80px;
  }
  .quote {
    font-size: 12px;
  }
  .author {
    font-size: 16px;
  }
  body {
    height: 100vh;
    font-size: 20px;
    background-image: url("assets/bgm.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1025px) {
  body {
    background-image: url("https://media.cntraveler.com/photos/611fcba37d5f8669f278de94/16:9/w_1600,c_limit/Blue%20Note%20Jazz%20Club-%20Credit%20Nagamitsu%20Endo_DSCF3801.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
